:root {
  font-family: -apple-system;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #FFFFFF;
  }
}

body {
  --dark-mode-text-primary: #e4e4e7;
  --dark-mode-text-secondary: #71717a;
  --dark-mode-bg-primary: #27272a;
  --dark-mode-bg-primary-2: #3f3f46;
  --dark-mode-bg-secondary: #52525b;
  --light-mode-text-primary: #636363;
  --light-mode-border-primary: #B3B3B3;
  --light-mode-bg-selected: #F1F1F1;
  --bg-white: #FFFFFF;

  background-color: var(--bg-white);
  color: var(--light-mode-text-primary);
  height: 560px;
  width: 400px;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
  margin: 0;
  overflow-y: hidden;
}





