@media (prefers-color-scheme: light) {
  a:hover {
    color: #61dafb;
  }
}

.card-columns-container {
  display: flex;
  flex-direction: row;
}

.card-column {
  display: flex;
  flex-direction: column;
}

.column-1 {
  margin-right: 5px;
}

.column-2 {
  margin-left: 5px;
}

.awards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 7px;
    border: 1px solid var(--light-mode-border-primary);
    border-radius: 10px;
    height: 90px;
    width: 175px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

svg {
  margin-right: 10px;
}

img {
  height: 20px;
  width: 20px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-right: 10px;
}

.align-center {
  display: flex;
  align-items: center;
}

.username {
  max-width: 130px;
}