.small-card {
    border: 1px solid var(--light-mode-border-primary);
    border-radius: 10px;
    height: 30px;
    width: 175px;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.h-25 {
    height: 25px; 
}

.h-20 {
    height: 20px; 
}

.not-shown {
    display: none;
}

svg.streak {
    margin-right: 3px;
}

.appearance-options {
    display: none;
    position: absolute;
    left: 200px;
    bottom: 35px;
    z-index: 4; 
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px; 
  }
  
  .appearance-options .option {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    color: var(--light-mode-text-primary);
    background-color: var(--bg-white);
    align-items: center;
    justify-content: space-between;
  }
  
  .appearance-options .option:hover {
    background-color: var(--light-mode-bg-selected);
  }
  
  .small-card:hover .appearance-options {
    display: block;
  }

.appearance:hover {
    cursor: pointer;
    background-color: var(--light-mode-bg-selected);
}

input {
    border: none;
    width: 85%;
}

input:focus {
    outline: none;
}

::placeholder {
    color: var(--light-mode-border-primary);
}

#join-session-input {
    margin-left: 20px;
    width: 60%;
}

.join-session {
    width: 120px;
}